* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.navbar .logo {
    width: 120px;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right .icon {
    cursor: pointer;
}

.right img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
}

.right .profile {
    position: relative;
}

.right .profile .options {
    display: none;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 5px;
}

.right .profile span {
    padding: 5px 10px;
    cursor: pointer;
}

.right .profile span:hover {
    background-color: #2a2a2a;
}

.right .profile:hover .options {
    background-color: black;
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28px;
    left: -20px;
}
.links{
    margin-top: 11px;
}
.links .link {
    color: white;
    text-decoration: none;
    display: flex;
     transition: 0.5s ease-in;
}

.links .link:hover {
    color: red;
    border-bottom: 1px solid red;
    transition: 0.5s ease-in;

}


.navbar-toggler {
    color: white !important;
    background-color: white !important;
    background: transparent;
    border-radius: 4px;
    padding: 2px 8px !important;
}

.navbar-toggler:focus {
    border: none !important;
    outline: none;
    box-shadow: none !important;
}

/* Small Menu */
.offcanvas {
    height: fit-content;
}

.navbar .logout{
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5px
}

.navbar .logout .person{
    transition: 0.5s ease-in-out;
}

.navbar .logout:hover .person{
    transform: translateX(17px);
}

.counterwatchlist{
    color: white;
    right: -19px ;
    top: -12px;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.counterwatchlist.added {
    background-color: #28a745;
    transform: scale(1.1);
}


@media screen and (max-width: 450px) {
    .offcanvas {
        width: 300px !important;
        height: fit-content;
    }

    .navbar .logout{
        width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:5px
    }
    
    .navbar .logout .person{
        transition: 0.5s ease-in-out;
    }
    
    .navbar .logout:hover .person{
        transform: translateX(17px);
    }

}